<!doctype html>
<html>
  <head>
    <title>SwitchStreamer</title>
  </head>
  <body>
    <h1>SwitchStreamer</h1>
    <dl>
      <dt>version</dt>
      <dd><%= SwitchStreamer::VERSION %></dd>
      <dt>my url</dt>
      <dd><%= ENV["DOMAIN"] %></dd>
      <dt>subscription count</dt>
      <dd><%= client.count_subscriptions.subscriptions_count %></dd>
    </dl>
    <h2>Hooks</h2>
    <nav>
      <ul>
        <li>
          <form action="/create_hook" method="post">
            <input type="submit" value="add hook" />
          </form>
        </li>
        <li>
          <form action="/create_subscription" method="post">
            <input type="submit" value="add subscription" />
          </form>
        </li>
        <li>
          <form action="/destroy_subscription" method="post">
            <input type="submit" value="remove subscriptions" />
          </form>
        </li>
      </ul>
    </nav>

    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>valid?</th>
          <th>url</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <% client.list_hooks.each do |sub| %>
        <tr>
          <td><%=HTML.escape sub.id %></td>
          <td><%=HTML.escape sub.valid.to_s %></td>
          <td><%=HTML.escape sub.url %></td>
          <td>
            <form action="/destroy_hook/<%= sub.id %>" method="post">
              <input type="submit" value="destroy" />
            </form>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
